<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/style2.css">
<%- include('../partials/nav') %>

<main id="golf-courses-index">
    <h1>Golf Courses</h1>
    <div class="course-container">
      <% courses.forEach(course => { %>
      <ul>
        <a href="/courses/<%= course._id %>">
          <li class="course-index-info" >
          <img src=" <%= course.img === "" ? "https://www.hotelroanoke.com/i/SITE_160212_10485664_PSYN1/content/CMS_02122016_105756563_RS0G0/78380B0E-983D-0F11-C5E92761DED6C56D.JPG" : course.img %>" style="width: 400px; height: 300px; border: 3px solid darkgreen;"></a>
          <a 
            class="course-info" 
            href="/courses/<%= course._id %>"><%= course.courseName %></a>
        </li>
      </ul>
    <% }) %>
  </div>
    <% if (user) { %>

  <div id="course_form">
    <h1>Enter a New Golf Course</h1>
    <form action="/courses" method="POST">
      <label>Golf Course Name:
      <input type="text" name="courseName">
      </label><br>
      <label>City:
      <input type="text" name="city">
      </label><br>
      <label>State:
      <input type="text" name="state">
      </label><br>
      <label>Image:
      <input type="text" name="img">
      </label><br>
      <button type="submit">Add Golf Course</button>
    </form>
  </div>
    <% } %>
</main>
<%- include('../partials/footer') %>