<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/style.css">
<%- include('../partials/nav') %>

<main>
<h1>Golf Courses</h1>
  <ul>
  <% courses.forEach(course => { %>
    <li><%= course.courseName %></li>
    <a class="course-info" href="/courses/<%= course._id %>">Course Info</a>
  </ul>
<% }) %>

  <h1>Enter a New Golf Course</h1>
    <form action="/courses" method="POST">
      <label>Title:
      <input type="text" name="courseName">
      </label><br>
      <label>Date:
      <input type="text" name="datePlayed">
      </label><br>
      <button type="submit">Add Golf Course</button>
    </form>
</main>
<%- include('../partials/footer') %>