<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/style.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= course.courseName%></h1>
  <h2><%= `${course.city}, ${course.state} ` %></h2>
    <h2>Scourse Card users who have played this course:</h2>
    <ul>
      <% course.profile.forEach(profile => { %>
        <li>
          <%= profile.name %>
        </li>
      <% }) %>
    </ul>
    <form 
    id="add-player-course" 
    action="/courses/<%= course._id %>/profiles" 
    method="POST"
  >
  
    <select name="profile">
      <% playerNotOnCourse.forEach(profile => { %>
        <option value="<%= profile._id %>"><%= profile.name %> 
        </option>
      <% }) %>
    </select>
    <button type="submit">Add player to course</button>
  
</form>
</main>

<%- include('../partials/footer') %>