<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? self.name : profile.name %>!</h1>
  <section>
    <% if (user) { %>
      <h2>Add a golf Round</h2>
      <form action="/profiles/<%= profile._id %>/golfRounds" method="POST">
        <label>Course Name:
          <input type="text" name="roundCourse">
        </label>
        <label>
          Score:
          <input type="text" name="score">
        </label>
        <label>
          Price:
          <input type="text" name="price">
        </label>
        <button type="submit">Add golf round</button>
      </form>
    <% } %>
    <% if (profile.golfRounds.length) { %>
      <h2>
        <%= isSelf ? "You played" : `${profile.name} has played` %> these rounds!
      </h2>
      <% profile.golfRounds.forEach(golfRound => { %>
        <h3>
          <%= `Score of ${golfRound.score} and paid ${golfRound.price}` %>
          <form action="/profiles/golfRounds/<%= golfRound._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Round</button>
          </form>
        </h3>
        </h3>
      <% })%>
    <% } %>
    <h2>
      Avarage Score:
    </h2>
    <% let total = 0 %>
    <% profile.golfRounds.forEach(golfRound => { %>
    <% total += golfRound.score %>
    <%=( total / profile.golfRounds.length).toFixed(1) %>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>