<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main id="golf-courses-index">
  <% if (profile.avatar) { %>
    <div>
      <img 
        id="profile-show-img"
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? 'you, Welcome to your profile' : profile.name %>!</h1>
    <h2>
      Average Score:
      <% let total = 0 %>
      <% profile.golfRounds.forEach(golfRound => { %>
      <% total += golfRound.score %>
      <% }) %>
      <%=(total / profile.golfRounds.length).toFixed(1) %>
    </h2>
    <!-- Section above is the calculator for getting average golf score! -->
  <section id="round-score-section">
    <% if (profile.golfRounds.length) { %>
      <h2>
        <%= isSelf ? "You played" : `${profile.name} has played` %> these rounds!
      </h2>
        <% profile.golfRounds.forEach(golfRound => { %>
          <h3 
            class="profile-golf-rounds">
            <%= `${golfRound.roundCourse}!  Score: ${golfRound.score}, Price: $${golfRound.price}` %>
          </h3>
            <form class="profile-delete-round" action="/profiles/golfRounds/<%= golfRound._id %>?_method=DELETE" method="POST">
            <% if (isSelf) { %>
              <button type="submit">Delete Round</button>
            </form>
            <% } %>
        <% })%>
    <% } %>
  <% if (isSelf) { %>
      <h2>Add a golf Round</h2>
        <form id="add_golf_round" action="/profiles/<%= profile._id %>/golfRounds" method="POST">
          <label>Course Name: 
            <input type="text" name="roundCourse">
          </label>
          <label>
            Score:
            <input type="number" name="score">
          </label>
          <label>
            Price:
            <input type="number" name="price">
          </label>
          <button type="submit">Add golf round</button>
        </form>
  <% } %>
  </section>
</main>

<%- include('../partials/footer') %>